.header__lang-link_active {
    text-decoration: underline;
    margin-right: 5.6vw;
  }

  @media screen and (min-width: 1024px) {
    .header__lang-link_active {
      margin-right: 1.75vw;
    }
  }