.place__title {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  @media screen and (min-width: 768px) {
    .place__title {
      margin-left: 0;
      margin-right: 0;
      max-width: 44.27vw;
      font-size: 42px;
      line-height: 46px;
    }
  }

  @media screen and (min-width: 1024px) {
    .place__title {
      width: 42.96vw;
      font-size: 72px;
      line-height: 76px;
    }
  }

  @media screen and (min-width: 1280px) {
    .place__title {
      max-width: 460px;
    }
  }