@media screen and (min-width: 1024px) {
    .intro {
      max-width: 690px;
      margin-top: 92px;
      position: relative;
      margin-left: 4.68vw;
    }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: auto;
    margin-right: auto;
  }
}