.lead__subtitle {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .lead__subtitle {
      width: 83.33vw;
      margin-right: 8.33vw;
      margin-left: 8.33vw;
      margin-top: 32px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  @media screen and (min-width: 1024px) {
    .lead__subtitle {
      max-width: 640px;
      margin-left: 18.75vw;
      margin-bottom: 52px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .lead__subtitle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
  }