.lead__caption {
    min-width: 49.375%;
    margin-left: 5vw;
    max-height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1280px) {
    .lead__caption {
      margin-left: 11.56vw;
      margin-right: 76.09vw;
    }
  }
  
  @media screen and (min-width: 1281px) {
    .lead__caption {
      margin: auto;
    }
  }
